body {color: #333; 
    font-family: helvetica, arial, sans-serif;
    padding-top: 70px;
}
p {
    line-height: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    border-bottom: 2px solid #ff9aba;
    height: 70px;
    width: 100%;
    opacity: .3;
}
nav ul {
	float: right;
}
nav li {
    float: left;
    width: auto;
}
nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
nav li a:hover {
    background: #e5e5e5;
}
#brand {
	text-indent: -9000px;
    background: url(../images2/logo.gif) no-repeat top left;
    height: 45px;
    width: 45px;
    float: left;
    margin: 10px;
} 

.container {
    width: 1024px; 
    margin: 0 auto;
}

#hero {
	background: url(../images2/detroit.jpg) no-repeat top left;
	text-align: center;
	color: #fafafa;
	background-size: cover;
	height: 350px;
	padding: 25px 0;
}

#hero img {
	width: 150px; 
	border-radius: 50%;
    margin-top: 30px;
}
#hero h2 {
    font-size: 400%;
    margin: 10px;
}
#hero span {
    border: 2px solid white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
}
#main-content{
    text-align: center;
    padding: 25px 0;
    overflow: hidden;
}
#main-content h3{
    font-size: 250%;
    margin: 20px 0;
}
.column {
    float: left;
    width: 30%;
    padding: 15px;
}
.column img {
    width: 70%;
    max-width:70%;
  
    border-radius: 50%;
    border: 5px solid #ff9aba;
    margin-bottom: 20px;
}
img#odd-pic {
    height: 215px;
}
.column h4 {
    color: #ff9aba;
    font-size: 150%;
    margin-bottom: 15px;

}
.column p {
    height: 700px
}
.column .btn {
   border: 2px solid #ff9aba;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
    text-decoration: none;
    color: #ff9aba;
}

#social {
    background: #ff9aba;
    color: #fafafa;
    padding: 25px 0;
    overflow: hidden;
}
#social ul {
	width: 5200px;
	margin: 0 auto;
}
#social li {
	float: left;
	width: auto;
	padding: 20px;
}

iframe{
    max-width: 100%;
}
a {
    color: #ff9aba;
}
